:root{
	--primary-color: rgba(50, 50, 50, .6);
	--overlay-color: rgba(24, 24, 24, .85);
	--menu-speed: .75s;
}
.menu-wrap{ /*contains the entire toggle box w/ all links & hamburgor*/
	position: fixed; /*fixes position where it is*/
	top: 50%; /*positioning*/
	left: 0; /*so that it stays in the top left no matter what*/
	z-index: 1; /*brings it above the background image, but not the toggle box*/
}
.menu-wrap .toggler{ /*sizes the check box, places it on top. makes it invisible*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}
.menu-wrap .hamburgor{ /*makes the actual hamburger*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 60px;
	height: 60px;
	padding: 1rem;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
/*hamborger line*/
.menu-wrap .hamburgor > div{ /*grabs the div inide the hamberger div*/
	position: relative;
	width: 100%;
	height: 2px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .4s ease;
}
/*top and bottom lines of hamburger*/
.menu-wrap .hamburgor > div:before, /*:before and :after are ways to add additional content to your HTML, and it goes wherever its parent HTML element is.  in this case it works well b/c the hamborger needs 3 lines.*/
.menu-wrap .hamburgor > div:after{
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 2px;
	background: inherit;
}
.menu-wrap .hamburgor > div:after{
	top: 10px;
} 
/*toggler animate*/
.menu-wrap .toggler:checked + .hamburgor > div{ /*when the toggler is checked, tis the div in the hamburger rotates 135 degrees*/
	transform: rotate(135deg);
}
/*turn lines into x*/
.menu-wrap .toggler:checked + .hamburgor > div:before,
.menu-wrap .toggler:checked + .hamburgor > div:after{
	top: 0;
	transform: rotate(90deg);
}
/*rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .hamburgor > div{
	transform: rotate(225deg); /*225*/
}

/*show menu*/
.menu-wrap .toggler:checked ~ .menu{
	visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
	transform: scale(1);
	transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
	opacity: 1;
	transition: opacity .4s ease;
}

.menu-wrap .menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-wrap .menu > div{
	background-color: var(--overlay-color);
	border-radius: 50%;
	width: 300vh;
	height: 300vh;
	display: flex;
	flex:none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all .4s ease;
}
.menu-wrap .menu > div > div{
	text-align: center;
	max-width: 90vh;
	max-height: 100vh;
	opacity: 0;
	transition: opacity .4s ease;
}
.menu-wrap .menu > div > div > ul > li{
	list-style-type: none;
	color: white;
	font-size: 1.5rem;
	padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a{
	color: inherit;
	text-decoration: none;
	transition: color .4s ease;
}


