*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	/*background-color: rgb(232,205,195);*/
	background: url(../img/portfolio/nz/IMG_0252.jpg) no-repeat center center fixed;
	font-family: 'Quicksand', sans-serif;
}
/*#box{
	background-color: rgba(50, 50, 50, .32);
}*/
#container{
	width: 100%;
	max-width: 960px;
	margin: 0px auto;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/*background-color: rgba(0,0,0,.75); */
	background-color: rgba(255,255,255, .0);
}
article{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-end: span 2;
}
.musicbox{
	grid-column-end: span 1;
	background-color: rgb(140,255 220);
}
.videobox{
	grid-column-end: span 2;
	padding: 5px;
}
iframe{
	padding: 5px;
	width: 100%;
	overflow: hidden;
}
h1{
	text-align: center;
	grid-column-end: span 2;
	color: black;
	font-size: 3em;
	padding: 50px 200px;
}
h2{
	text-align: center;
	grid-column-end: span 2;
	color: black;
	font-size: 1.25em;
	padding: 0px 100px;
	padding-bottom: 25px;
}
h2 a{
	text-decoration: none;
	color: rgb(240,80,201);
}
h2 a:hover{
	text-decoration: underline;
}
/*h2 a:hover{
	color: rgb(240,100,251);
}*/
.shitshitshitmusic{
	padding: 10px;
	font-size: 2em;
}
